.styles_ticker__-0UvZ {
    height: 100%;
}

.live-markets-card-wrapper {
    flex-wrap: wrap;
    max-width: 100%;
    margin: 1rem;
    gap: 1rem;
}

.live-markets-card-wrapper > * {
    flex: 1 0 auto; 
    max-width: 80%;
}

.live-markets-card-wrapper > * > * {
    max-width: 100%;
}

#candlestick-button {
    background: transparent;
    color: white;
}

#candlestick-button:hover {
    background-color: whitesmoke;
    color: #2A2B38;
}

@-webkit-keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.live-markets-sub {
    background: -webkit-linear-gradient(120deg, #004643, #004643f1, #004643e7, #004643d1, #004643c1, #004643a1);
    background: linear-gradient(120deg, #004643, #004643f1, #004643e7, #004643d1, #004643c1, #004643a1); 
    background-size: 400% 400%;
    -webkit-animation: gradient 60s ease infinite;
	animation: gradient 60s ease infinite;
}

.market-box {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}