.styles_ticker__-0UvZ {
    height: 100%;
}

.live-markets-card-wrapper {
    flex-wrap: wrap;
    max-width: 100%;
    margin: 1rem;
    gap: 1rem;
}

.live-markets-card-wrapper > * {
    flex: 1 0 auto; 
    max-width: 80%;
}

.live-markets-card-wrapper > * > * {
    max-width: 100%;
}